<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: monospace;
            width: 300px;
        }
    </style>
</head>

<body>

<h2>🍗🍕 RESTAURANTE</h2>

<p>Fecha: {{session.ticket.fecha}}</p>

<hr>

{% for item in session.ticket.detalle %}
<p>{{item.nombre}} x{{item.cantidad}} - ${{item.precio * item.cantidad}}</p>
{% endfor %}

<hr>

<h3>Total: ${{session.ticket.total}}</h3>

<p>¡Gracias por su compra!</p>

<script>
window.print();
</script>

</body>
</html>